
h1 {
    padding-left: 20px
}

main {
    display: flex;
    flex-direction: column;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form div {
    padding-top: 20px;
}
