nav {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 2;
}

.logo {
    margin-left: 20px;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-size: 1.4em;
}

.logo img {
    height: 50px;
    width: 50px;
    filter: contrast(1.2);
    margin-right: 0;
}

ul {
    display: flex;
    align-items: center;
    overflow: hidden;
}

nav li {
    text-align: left;
    display: block;
    background-color: transparent;
    border: none;
    height: inherit;
    white-space: nowrap;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-family: "PT Sans", sans-serif;
    font-size: 1.2em;
}

nav li a:hover {
    background-color: grey;
}

a.active {
    font-weight: bold;
}

.login {
    background-color: rgba(64, 192, 128, 0.3);
}

.register {
    background-color: rgba(0, 128, 0, 0.3);
}