nav {
    background-color: wheat;
}

ul {
    list-style-type: none;
    align-items: center;
    margin: 0;
    overflow: hidden;
    padding: 0 0 0 10px;
}

li {
    float: left;
    display: inline;
}

.right-li {
    display: block;
    text-align: center;
    float: right;
    background-color: dimgray;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
}

li a:hover {
    background-color: antiquewhite;
}